#friends-display-link{
    text-align: center;
    display: block;
    padding:15px 0px;
    background-color: rgba(241, 212, 178, 0.3);
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

#friends-display-link i{
    color: rgba(0,0,0,0.5);
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: 1px solid var(--lineColor);
    padding-top: 10px;
}

.friends__channel-header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}