.recommended-friends{
    margin-top: 25px;
    border-top: 1px solid var(--lineColor) ;
    border-bottom: 1px solid var(--lineColor);
    

}

.recommended-friends p{
    font-size: 18px;
    margin-top: 5px;
}

.recommended-friends__list{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;

}