.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    background-color:rgb(204, 182, 156,0.5);
    border-bottom:1px solid var(--border-bottomColor);
    border-top:1px solid var(--border-topColor);
}

.screen-header__title{
    font-weight: 400;
    font-size: 32px;
    font-family: var(--font-kr);
}

.screen-header__icons span{
    margin-left: 15px;
    position: relative;
}

