@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,400;0,800;0,900;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,400;0,800;0,900;1,400;1,500;1,700&family=Black+Han+Sans&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "welcome-header.css";
@import "variables.css";
@import "login-form.css";
@import "navigation-bar.css";
body {
    background-color: var(--backgroundColor);
    font-family: 'Alegreya Sans SC', sans-serif;
    height: 100vh;
}

.background-Image{
    display: flex;
    justify-content: center;
    align-items: center;

}
.background-Image img{
    display: flex;
    justify-content: center;
}
