
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;0,500;0,900;1,900&family=Jua&display=swap');

@import "reset.css";
@import "variables.css";

@import "components/status-bar.css";
@import "components/navigation-bar.css";
@import "components/alt-screen-header.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/main-screen.css";
@import "components/reply.css";
@import "components/no-mobile.css";
@import "components/splash-screens.css";
@import "components/keyframes.css";
@import "components/animation-class.css";
@import "components/profileBox.css";

@import "screens/welcome-header.css";
@import "screens/login-form.css";
@import "screens/friends.css";
@import "screens/recommended-friends.css";
@import "screens/open-chat.css";
@import "screens/more-suggestions.css";
@import "screens/background-image.css";
@import "screens/setting.css";
@import "screens/chat.css";
@import "screens/chat-Devil.css";
@import "screens/chat-Mugman.css";

body {
    background-color: var(--backgroundColor);
    font-family: 'Alegreya Sans SC','Jua', sans-serif;

}

audio{
    position: fixed;
    width: 90px;
    height: 30px;
    top: 0;
    right: 20%;
    z-index: 50;

}
audio:focus{
    outline: none;
}

audio::-webkit-media-controls-panel{
    background-color: var(--backgroundColor);
    opacity: 1;
}
audio::-webkit-media-controls-mute-button{
display: none;
}

audio::-webkit-media-controls-play-button{
    opacity: 1;
}

audio::-webkit-media-controls-timeline-container
{display: none;}
audio::-webkit-media-controls-current-time-display
{display: none;}
audio::-webkit-media-controls-time-remaining-display
{display: none;}
audio::-webkit-media-controls-timeline
{display: none;}
audio::-webkit-media-controls-volume-slider-container
{display:none}
audio::-webkit-media-controls-volume-slider
{display: none;}
audio::-webkit-media-controls-seek-back-button
{display: none;}
audio::-webkit-media-controls-seek-forward-button
{display: none;}
audio::-webkit-media-controls-fullscreen-button
{display: none;}
audio::-webkit-media-controls-rewind-button
{display: none;}
audio::-webkit-media-controls-return-to-realtime-button{}

audio::-webkit-media-controls-toggle-closed-captions-button{
}


