:root{
    --backgroundColor:#f7e2a4;
    --chat-headerColor:rgb(247,226,164);
    --chat-backgroundColor:rgb(153, 112, 81);
    --barColor:#ebbb62;
    --input-ButtonColor: rgb(66, 49, 17);
    --input-PlaceholderColor:rgba(83, 61, 21, 0.541);
    --input-PlaceholderColor-Clicked:rgba(68, 48, 10, 0.9);
    --border-bottomColor: #b99550e0  ;
    --border-topColor:rgba(233, 206, 131, 0.8) ;
    --lineColor:rgba(121, 93, 25, 0.8);
    --font-en: 'Alegreya Sans SC','Black Han Sans',sans-serif;
    --font-kr: 'Black Han Sans','Alegreya Sans SC', sans-serif;
    --horizontal-space: 25px;

}