.chat-Mugman__image{
    display: flex;
    position: fixed;
    width: 100vw;
    bottom: 50px;
    left: 25%;

    z-index: -1;

}

.chat-Mugman__image img{
    display: flex;
    justify-content: center;
    width: 50vw;
}