#friends-display-link{
    text-align: center;
    display: block;
    padding:15px 0px;
    background-color: rgba(241, 212, 178, 0.3);
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

#friends-display-link i{
    color: rgba(0,0,0,0.5);
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: 1px solid var(--lineColor);
    padding-top: 10px;
}

.friends__channel-header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
@keyframes hideSplashScreen {
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
#splash-screen{
    background: #feca36;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 2s ease-in-out forwards;
    animation-delay: 4.5s;
}