.alt-screen-header{
    display: flex;
    justify-content: center;
    padding: 10px var(--horizontal-space);
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 25px;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
    border-bottom: 1px solid var(--border-bottomColor);
    z-index: 3;
}

.alt-screen-header__title{
    font-size: 32px;
}

.alt-screen-header__column{
    width: 33.3%;
    display: flex;
    align-items: center;
}
.alt-screen-header__column:first-child{
    justify-content: flex-start;

}

.alt-screen-header__column:nth-child(2){
    justify-content: center;
}
.alt-screen-header__column:last-child{
    box-sizing: border-box;
    justify-content: flex-end;
}

.alt-screen-header__column:last-child i {
    margin-left: 25px;
}