.badge {
    background-color: rgb(245, 63, 31);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
    z-index: 1;


}
.badge--righttop{
    bottom: 20px;
    right: -8px;
    position: absolute;

}

.badge--small{
    width: 5px;
    height: 5px;
}

.badge--alert{
    font-size: 15px;
    font-weight: 800;
    color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border: 2px solid tomato;
    border-radius: 50%;
    margin-left: 5px;
}