
.navigation-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--border-topColor);
    background-color:var(--barColor);
}

.navigation-bar__ul{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    box-sizing: border-box;

}

.navigation-bar__a{
    text-decoration: none;
    color: rgb(71, 64, 56,1);
    position: relative;
}
