.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: var(--chat-headerColor);
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    box-sizing: border-box;
}

.reply__column:first-child{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reply__column:last-child{
    width:90%;
    position: relative;
}

.reply input{
    height: 30px;
    width: 100%;
    border: 1px solid var(--border-bottomColor);
    border-radius: 18px;
    box-sizing: border-box;
}

.reply__column button{
    background-color: var(--chat-backgroundColor);
    border-radius: 18px;
    border: none;
    width: 50px;
    height: 30px;
}


.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right: 1px;
    top: 0px;

}
.reply__column:last-child > i{
    right: 80px;
    top: 8px;
}

.reply__column i:not(.reply__column button i){
    opacity: 0.5;
}

.reply__column button:focus,
.reply__column button:active{
    outline: none;
}

.reply:focus-within {
    transform: translateY(36px);
    padding: 0px 3px;
}

.reply:focus-within input{
    transform: translateY(-45px);
    height: 40px;
    border-radius: 5px;
}


.reply:focus-within .fa-smile,
.reply:focus-within button,
.reply:focus-within .reply__column:first-child{
    opacity: 0;
}

.reply:focus-within .reply__column:first-child{
    width: 0%;
}

.reply:focus-within .reply__column:last-child{
    width: 100%;
}


.reply,
.reply .fa-smile,
.reply button,
.reply__column:first-child,
.reply input,
.reply__column:last-child{
    transition: all 0.3s ease-in-out;
}