.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: var(--chat-headerColor);
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    box-sizing: border-box;
}
.reply__column:first-child{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reply__column:last-child{
    width:90%;
    position: relative;
}

.reply input{
    height: 30px;
    width: 100%;
    border: 1px solid var(--border-bottomColor);
    border-radius: 18px;
}

.reply__column button{
    background-color: var(--chat-backgroundColor);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
}


.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right: -3px;
    top: 2px;

}
.reply__column:last-child > i{
    right: 50px;
    top: 10px;
}

.reply__column i:not(.reply__column button i){
    opacity: 0.5;
}

.reply__column button:focus,
.reply__column button:active{
    outline: none;
}