.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
    padding: var(--horizontal-space);
    background-color:var(--barColor);
    border-bottom:1px solid var(--border-bottomColor);
    border-top:1px solid var(--border-topColor);
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    z-index: 3;
}

.screen-header__title{
    font-weight: 400;
    font-size: 32px;
    font-family: var(--font-kr);
}

.screen-header__icons span{
    margin-left: 15px;
    position: relative;
}

.screen-header__a{
    text-decoration: none;
    color: rgb(71, 64, 56,1);
    position: relative;
}
