.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
    padding: var(--horizontal-space);
    background-color:var(--barColor);
    border-bottom:1px solid var(--border-bottomColor);
    border-top:1px solid var(--border-topColor);
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    z-index: 3;
}

.screen-header__title{
    font-weight: 500;
    font-size: 32px;
}

.screen-header__icons span{
    margin-left: 15px;
    position: relative;
}

.screen-header__a{
    text-decoration: none;
    position: relative;
}

.screen-header__icons .fa-search:hover,
.screen-header__icons .fa-comment-dots:hover{
    animation: squash 0.3s ease-in-out;
}

.screen-header__icons .fa-music:hover{
    animation: bounce 2s ease-in-out infinite;
}

.screen-header__icons .fa-cog:hover{
    animation: rotate 3s ease-in-out infinite;
}


